.button {
  padding: 10px 20px;
  background-color: var(--text-color);
  color: var(--background-color);
  border: 1px solid var(--muted-color);
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 400ms, color 400ms;
  margin: 5px;
}
.button:hover {
  background-color: transparent;
  color: var(--text-color);
}
.button:active {
  background-color: transparent;
  color: var(--text-color);
}
.button2 {
  padding: 10px 20px;
  background-color: var(--surface-color);
  color: var(--text-color);
  border: 1px solid var(--muted-color);
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 400ms, color 400ms;
  margin: 5px;
}
.button2:hover {
  background-color: transparent;
  color: var(--text-color);
}
.button2:active {
  background-color: transparent;
  color: var(--text-color);
}