.card {
  color: var(--gray-color);
  background-color: var(--white-color);
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  display: inline-block;
  margin: 10px 0 5px 10px;
}
.shadow {
  box-shadow: var(--shadow-soft);
}
.cardName {
  font-size: 1.5rem;
  margin: 10px 0;
  color: var(--gray-color);
}
.cardText {
  font-size: 1rem;
  color: var(--gray-color);
  margin: 10px 0;
}
.cardImage {
  aspect-ratio: 1 / 1;  
  width: 95%;        
  max-width: 200px;
  height: auto;
  border-radius: 20px;
  border: 1px solid var(--gray-color);
  object-fit: cover;    
}
.smallCard {
  width: 250px;
}
.largeCard {
  width: 500px;
}
.fullCard {
  width: 95%;
}
.profileCard {
  width: 250px;
}
.profileCard .cardImage {
  border-radius: 50%;
}