.card {
  color: var(--gray-color);
  background-color: var(--white-color);
  border: 1px solid var(--gray-color);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  display: inline-block;
  margin: 10px 0 5px 10px;
}
.card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: var(--gray-color);
}
.card p {
  font-size: 1rem;
  color: var(--gray-color);
  margin: 10px 0;
}
.card img {
  aspect-ratio: 1 / 1;  
  width: 95%;        
  max-width: 200px;
  height: auto;
  border-radius: 20px;
  border: 1px solid var(--gray-color);
  object-fit: cover;    
}
.small {
  width: 250px;
}
.large {
  width: calc(100% - 50px);
}
.full {
  width: 90%;
}
.profile {
  width: 250px;
}
.profile img {
  border-radius: 50%;
}