.authsystem {   
  color: var(--text-color);
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.intro {
  max-width: 700px;
  margin: 0 auto 3rem auto;
  text-align: center;
  color: var(--secondary-color);
  line-height: 1.6;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
