.sidebar {
  width: 300px;
  height: 100vh; 
  background-color: var(--white-color);
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}
.sidebar section h2 {
  margin-bottom: 20px;
  padding-left: 15px;
  font-size: 1.2rem;
  color: var(--gray-color);
}
.sidebar section p {
  padding: 15px;
}