.sidebar {
  width: 300px;
  height: 100vh; 
  background-color: var(--white-color);
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;     
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE/Edge */
}
.sidebar::-webkit-scrollbar {
  display: none; 
}